{{define "title"}}About{{end}}
{{define "main"}}
    <h2>About</h2>
    <p>This is Snippet View application that is used to post some snippets. This can include some lines spoken by famous people</p>
{{end}}
