{{define "title"}}Your Account{{end}}
{{define "main"}}
    <h2>Your Account</h2>
    <table>
        {{with .User}} 
        <tr>
            <th>Name</th><td>{{.Name}}</td>
        </tr>
        <tr>
            <th>Email</th><td>{{.Email}}</td>
        </tr>
        <tr>
            <th>Joined</th><td>{{humanDate .Created}}</td>
        </tr>
        <tr>
            <th></th><td><a href='/account/password/update'>Change Password</a></td>
        </tr>
        {{end}}
        </table>
{{end}}